*{
    margin:0;
    padding:0;
}

@media only screen  and (min-width:800px){

    #wrapper .main {
        
        
        display:flex;
        resize:60%;
        
        
    }
    
}

body{
    background-color: rgb(231, 104, 104);
}

#wrapper {
    margin:auto;
    display:grid;
    width:800px;
    height:auto;
    grid-template-columns: 1fr;
    grid-template-rows:100px 51px 400px auto 100px; 
    grid-template-areas: 
   "hd hd"
    "nv nv"
    "mn mn"
    "s1 s1"
    "ft ft";
}



ul .list {

    display: inline-block;
    list-style: none;
    
}

li .list {
    display:inline-block;
    
    

}

.drawing{
    grid-area:hd;
    margin-top:0px;
    
    
}

.menu_rd  {
    margin-left:0px;
    width:800px;
    height:51px;
    background-color: rgb(235, 141, 47);
}

.left-section1{
    
    grid-area:s1;
    font-family:Arial, Verdana, Tahoma;
    background-color: white;
    
}
/*

.right-section2{
    grid-area: s2;
    background-color:pink;
    margin: auto;
}*/

article{
    margin:auto;
    columns:none;

}

footer{
    grid-area:ft;
    background-color:rgb(49, 27, 1);
    
}

 a{

    text-decoration: none;
    color:rgb(252, 252, 252);
    line-height:50px;
    /*padding-left: */
    display:block;
    margin-left: 82px;
    font-weight:bold;
    display:inline-block;
    font-family:Arial, Helvetica, sans-serif;

}

a:hover{
    color:rgb(18, 15, 46);
}

nav {
    grid-area:nv;
    
}

main {

    padding-top:15px;
    grid-area:mn;
    background-color:white;
}
h2 {
    padding-top:100px;
    margin-left:10px;
    font-family: Arial;
    font-size:20pt;
}

p {
    font-size:14pt;
    font-family: Arial, Verdana, Tahoma;
    margin-left:20px;

}

ul li{
    margin-left:20px;
    list-style-type:none;
}

 .hur_i {
    margin:50px 10px 50px 10px;
   
    
}
